<footer class="container-wrapper">
  <div class="container quotes-container content-container">
    <section class="footer">
      <div class="row">
          <div class="col-12 page-header mb-4">
            <h2 class="text-uppercase">Stay in touch:</h2>
            <hr class="block-divider block-divider--short">
          </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
           <h3>Social</h3>
           <p>Keep up to date with all our latest offers</p>
           <a href="https://www.facebook.com/profile.php?id=61556974037656" target="_blank" rel="noopener"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
        </div>
        <div class="col-12 col-md-6">
           <h3>Privacy Policy</h2>
           <p>Brandishon's policy according to EU's GDPR regulations</p>
           <a href="#" target="_blank" rel="noopener"><i class="fa-solid fa-book"></i> See Privacy Policy</a>
        </div>
      </div>
    </section>
  </div>
</footer>